# Importando dados e biblioteca

## Pandas

In [84]:
import pandas as pd

## Openpyxl

In [85]:
import openpyxl

## Importando Base de Dados

### Base de Dados com Estatísticas

In [86]:
players_scout = pd.read_csv('base_de_dados/appearances.csv',sep =',')

C:\Users\lucas\AppData\Local\Temp\ipykernel_22064\4059840557.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  players_scout = pd.read_csv('base_de_dados/appearances.csv',sep =',')

### Base de Dados com Informações dos Jogadores

In [87]:
players_data = pd.read_csv('base_de_dados/players.csv',sep =',')

# Manipulação de dados

## Manipulação de Dados Estatísticos dos Jogadores

### Verificação de colunas

In [88]:
players_scout.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1563304 entries, 0 to 1563303
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   appearance_id           1563304 non-null  object
 1   game_id                 1563304 non-null  object
 2   player_id               1563304 non-null  int64
 3   player_club_id          1563304 non-null  int64
 4   player_current_club_id  1563304 non-null  int64
 5   date                    1563304 non-null  object
 6   player_name             1563297 non-null  object
 7   competition_id          1563302 non-null  object
 8   yellow_cards            1563302 non-null  float64
 9   red_cards               1563302 non-null  float64
 10  goals                   1563302 non-null  float64
 11  assists                 1563302 non-null  float64
 12  minutes_played          1563302 non-null  float64
dtypes: float64(5), int64(3), object(5)
memory usage: 155.1+ MB

### Criação de uma nova coluna correspondente ao total de jogos do jogador

In [89]:
total_games = players_scout[['player_id']].value_counts()

### Junção entre a tabela antiga e a coluna nova

In [90]:
players_scout = pd.merge(total_games, players_scout, how = 'inner', on = 'player_id')

### Verificação de junção

In [91]:
players_scout.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1563304 entries, 0 to 1563303
Data columns (total 14 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   player_id               1563304 non-null  int64
 1   count                   1563304 non-null  int64
 2   appearance_id           1563304 non-null  object
 3   game_id                 1563304 non-null  object
 4   player_club_id          1563304 non-null  int64
 5   player_current_club_id  1563304 non-null  int64
 6   date                    1563304 non-null  object
 7   player_name             1563297 non-null  object
 8   competition_id          1563302 non-null  object
 9   yellow_cards            1563302 non-null  float64
 10  red_cards               1563302 non-null  float64
 11  goals                   1563302 non-null  float64
 12  assists                 1563302 non-null  float64
 13  minutes_played          1563302 non-null  float64
dtypes: float64(5), int64(4), object(5)
memory usage: 167.0+ MB

### Mudança de nome da nova coluna

In [92]:
players_scout.rename(columns={'count': 'total_games'}, inplace=True)

### Separação de tabelas estatísticas e informativas

In [93]:
info = players_scout[['player_name','total_games','player_id']]
players_scout = players_scout[['player_id','yellow_cards','red_cards','goals','assists','minutes_played']]

### Exclusão de linhas duplicadas

In [94]:
info = info.drop_duplicates()

### Somando as estatísticas de todos os jogos do jogador

In [95]:
players_scout = players_scout.groupby('player_id',as_index=False).sum(numeric_only=True)

### Juntando as tabelas de estatísticas somadas comas inforamações do jogador

In [96]:
players_scout = pd.merge(info, players_scout, how = 'inner', on = 'player_id')

### Ordenando por jogadores com mais gols

In [97]:
players_scout = players_scout.sort_values('goals', ascending= False)

## Manipulação de Dados Informativos dos Jogadores

### Verificação de colunas

In [98]:
players_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30500 entries, 0 to 30499
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             30500 non-null  int64
 1   first_name                            28513 non-null  object
 2   last_name                             30500 non-null  object
 3   name                                  30500 non-null  object
 4   last_season                           30500 non-null  int64
 5   current_club_id                       30500 non-null  int64
 6   player_code                           30500 non-null  object
 7   country_of_birth                      27783 non-null  object
 8   city_of_birth                         28306 non-null  object
 9   country_of_citizenship                29921 non-null  object
 10  date_of_birth                         30455 non-null  object
 11  sub_position                          30326 non-null  object
 12  position                              30500 non-null  object
 13  foot                                  28136 non-null  object
 14  height_in_cm                          28456 non-null  float64
 15  contract_expiration_date              19063 non-null  object
 16  agent_name                            15135 non-null  object
 17  image_url                             30500 non-null  object
 18  url                                   30500 non-null  object
 19  current_club_domestic_competition_id  30500 non-null  object
 20  current_club_name                     30500 non-null  object
 21  market_value_in_eur                   29386 non-null  float64
 22  highest_market_value_in_eur           29386 non-null  float64
dtypes: float64(3), int64(3), object(17)
memory usage: 5.4+ MB

### Seleção de colunas que serão utilizadas

In [99]:
players_data = players_data[['player_id','sub_position','country_of_birth','city_of_birth','country_of_citizenship','date_of_birth','foot','height_in_cm','first_name','last_name','url','image_url']]

### Verificação de colunas

In [100]:
players_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30500 entries, 0 to 30499
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   player_id               30500 non-null  int64
 1   sub_position            30326 non-null  object
 2   country_of_birth        27783 non-null  object
 3   city_of_birth           28306 non-null  object
 4   country_of_citizenship  29921 non-null  object
 5   date_of_birth           30455 non-null  object
 6   foot                    28136 non-null  object
 7   height_in_cm            28456 non-null  float64
 8   first_name              28513 non-null  object
 9   last_name               30500 non-null  object
 10  url                     30500 non-null  object
 11  image_url               30500 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 2.8+ MB

# Utilização de Dados Estatísticos e Informativos

## Junção dos Dados Estatísticos e Informativos

In [101]:
complete_data = pd.merge(players_data, players_scout, how = 'outer', on = 'player_id')

## Verificação de colunas

In [102]:
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30505 entries, 0 to 30504
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   player_id               30505 non-null  int64
 1   sub_position            30327 non-null  object
 2   country_of_birth        27784 non-null  object
 3   city_of_birth           28307 non-null  object
 4   country_of_citizenship  29922 non-null  object
 5   date_of_birth           30456 non-null  object
 6   foot                    28137 non-null  object
 7   height_in_cm            28457 non-null  float64
 8   first_name              28514 non-null  object
 9   last_name               30501 non-null  object
 10  url                     30501 non-null  object
 11  image_url               30501 non-null  object
 12  player_name             24021 non-null  object
 13  total_games             24025 non-null  float64
 14  yellow_cards            24025 non-null  float64
 15  red_cards               24025 non-null  float64
 16  goals                   24025 non-null  float64
 17  assists                 24025 non-null  float64
 18  minutes_played          24025 non-null  float64
dtypes: float64(7), int64(1), object(11)
memory usage: 4.4+ MB

## Reorganização da ordem das colunas

In [103]:
complete_data = complete_data[['player_id','player_name','first_name','last_name','date_of_birth','country_of_birth','city_of_birth','country_of_citizenship','sub_position','height_in_cm','foot','yellow_cards','red_cards','goals','assists','total_games','minutes_played']]

## Reorganização dos jogadores ordenados por quantidade de gols

In [104]:
complete_data = complete_data.sort_values('goals',ascending=False)

## Exportação dos dados para um CSV

In [105]:
complete_data_df = pd.DataFrame(complete_data)
print(complete_data_df)
complete_data_df.to_csv('complete_data.csv')

       player_id         player_name first_name          last_name  \
3254       38253  Robert Lewandowski     Robert        Lewandowski
2348       28003        Lionel Messi     Lionel              Messi
759         8198   Cristiano Ronaldo        NaN  Cristiano Ronaldo
9421      132098          Harry Kane      Harry               Kane
3773       44352         Luis Suárez       Luis             Suárez
...          ...                 ...        ...                ...
30499    1225269                 NaN      Erdem              Çalık
30501    1237940                 NaN    Oleksiy          Avramenko
30502    1240762                 NaN    Araphat           Mohammed
30503    1250365                 NaN   Mykhaylo              Rasko
30504    1250366                 NaN      Kiril          Kobernyuk

      date_of_birth country_of_birth               city_of_birth  \
3254     1988-08-21           Poland                    Warszawa
2348     1987-06-24        Argentina                     Rosario
759      1985-02-05         Portugal                     Funchal
9421     1993-07-28          England                      London
3773     1987-01-24          Uruguay                       Salto
...             ...              ...                         ...
30499    2006-06-05          Türkiye                    Istanbul
30501    2004-01-02          Ukraine                        Kyiv
30502    2005-11-06              NaN                         NaN
30503    2004-11-22          Ukraine      Zhydachiv, Lviv Oblast
30504    2005-04-27          Ukraine  Berdychiv, Zhytomyr Oblast

      country_of_citizenship      sub_position  height_in_cm   foot  \
3254                  Poland    Centre-Forward         185.0  right
2348               Argentina      Right Winger         170.0   left
759                 Portugal    Centre-Forward         187.0  right
9421                 England    Centre-Forward         188.0  right
3773                 Uruguay    Centre-Forward         182.0  right
...                      ...               ...           ...    ...
30499                Türkiye  Central Midfield           NaN  right
30501                Ukraine       Centre-Back         190.0   both
30502                  Ghana  Central Midfield           NaN   left
30503                Ukraine  Central Midfield         174.0  right
30504                Ukraine       Centre-Back         178.0  right

       yellow_cards  red_cards  goals  assists  total_games  minutes_played
3254           55.0        1.0  461.0    115.0        558.0         47089.0
2348           49.0        1.0  451.0    224.0        522.0         44380.0
759            64.0        4.0  432.0    114.0        482.0         41150.0
9421           46.0        0.0  306.0     73.0        446.0         36154.0
3773           94.0        0.0  289.0    149.0        445.0         35950.0
...             ...        ...    ...      ...          ...             ...
30499           NaN        NaN    NaN      NaN          NaN             NaN
30501           NaN        NaN    NaN      NaN          NaN             NaN
30502           NaN        NaN    NaN      NaN          NaN             NaN
30503           NaN        NaN    NaN      NaN          NaN             NaN
30504           NaN        NaN    NaN      NaN          NaN             NaN

[30505 rows x 17 columns]

## Exportação dos dados para um Excel

In [106]:
complete_data_df.to_excel('complete_data.xlsx')